.scoreContainer{
  width: 200px;
  height: 65px;
}

.scoreBlock{
  background: #bbada0;
  color: #eee4da;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.scoreBlock p{
  margin: 0;
}

.scoreBlock p:last-child{
  color: #fff;
  font-size:1.5em;
}
