/* Smartphones (landscape) ----------- */
@media only screen and (orientation: landscape){
  .boardContainer{
    width: 100%;
  }
  .boardRow{
    margin-bottom: 3px;
  }
  .boardRow:first-child{
    margin-top:3px;
  }
  .tile{
    width:75px;
    height:75px;
    line-height:75px;
    margin-right: 3px;
  }
  .tile:first-child{
    margin-left: 3px;
  }
  .newGame{
    top: -106px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (orientation: portrait){
  .boardContainer{
    width: 100%;
  }
  .boardRow{
    margin-bottom: 1px;
  }
  .boardRow:first-child{
    margin-top: 1px;
  }
  .tile{
    width:60px;
    height:60px;
    line-height:60px;
    margin-right: 1px;
  }
  .tile:first-child{
    margin-left: 1px;
  }
  .newGame{
    top: -106px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .tile{
    width:65px;
    height:65px;
    line-height:65px;
    margin:3px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .tile{
    width:96px;
    height:96px;
    line-height:96px;
    margin: 5px;
  }
}



.board{
  background: #bbada0;
  display: inline-block;;
  position: relative;
  z-index:2;
}

.newGame{
  display: block;
  position: absolute;
  right:0;
}

.boardContainer{
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.boardContainer .newGame{
  height: 40px;
  width: 120px;
  font-size: 1em;
}

.tile{
  background: #eee4da;
  font-weight: bold;
  color: #776e65;
  display: inline-block;
  text-align: center;
}
.tile-0{

}
.tile-2{
  background: #eee4da;
}
.tile-4{
  background: #ede0c8;
}
.tile-8{
  background: #f2b179;
}
.tile-16{
  background: #f59563;
}
.tile-32{
  background: #f67c5f;
}
.tile-64{
  background: #f65e3b;
}
.tile-128{
  background: #edcf72;
}
.tile-256{
  background: #edcc61;
}
.tile-512{
  background: #edc850;
}
.tile-1024{
  background: #edc53f;
}
.tile-2048{
  color: #f9f6f2;
}
