/* Smartphones (landscape) ----------- */
@media only screen and (orientation: landscape){
  .app{
    width: 90%;
  }
  .app .topBar .appTitle,
  .app .topBar .scoreContainer{
    display: inline-block;
  }
  .description{
    height: 100px;
  }
  .instructions{
    text-align: center;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (orientation: portrait){
  .app{
    width: 90%;
  }
  .app .topBar .appTitle,
  .app .topBar .scoreContainer{
    display: inline-block;
  }
  .description{
    height: 100px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

.app{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding-top: 10px;
}

.app .topBar{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.app .appTitle{

}

.app .appTitle h1{
  margin: 0;
  font-size: 2em;
  display: inline-block;
}

.app .appTitle p{
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 0.5em;
}

.app h1 sup{
  font-size:0.2em;
  line-height: 0;
  position: relative;
  vertical-align: top;
  top: 1em;
}

.app .description{
  width: 50%;
}

.app .description h2{
  margin: 0;
}

.app .description p{
  margin: 0 0 0 0;
}

.app .description p span{
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

button{
  background: rgb(143, 122, 102);
  color: white;
  border: none;
  border-radius: 5px;
}
