.app{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding-top: 20px;
}

.app .topBar{
  position: relative;
}

.app .appTitle{

}

.app .appTitle h1{
  margin: 0;
  font-size:70px;
  display: inline-block;
}

.app .appTitle p{
  display: inline-block;
  margin: 0;
  width: 50%;
  vertical-align: top;
  margin-top: 1em;
  font-size: 0.5em;
}

.app h1 sup{
  font-size:0.2em;
  line-height: 0;
  position: relative;
  vertical-align: top;
  top: 1em;
}

.app .description{
  width: 50%;
}

.app .description h2{
  margin: 0;
}

.app .description p{
  margin: 0 0 10px 0;
}

.app .description p span{
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

button{
  background: rgb(143, 122, 102);
  color: white;
  border: none;
  border-radius: 5px;
}
