.movementButtons{
  position: absolute;
  width: 120%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.up{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.right{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.down{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translateX(-50%);
}

.left{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
