.modal-small:focus{
  outline: none;
}

.modal-small{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 15px 10px 10px 10px;
}

.loss{

}

.victory{

}
